user nginx;

worker_processes auto;

events {
    worker_connections 1024;
}


# ============================================================
# HTTPS SNI ROUTING
# ============================================================

stream {

    map $ssl_preread_server_name $https_backend {

        fuelman.in          prod_https;
        www.fuelman.in      prod_https;

        staging.fuelman.in  staging_https;

        default             reject_https;
    }


    upstream prod_https {
        server host.docker.internal:8443;
    }


    upstream staging_https {
        server host.docker.internal:8444;
    }


    upstream reject_https {
        server host.docker.internal:9999;
    }


    server {

        listen 443;

        proxy_pass $https_backend;

        ssl_preread on;

        proxy_connect_timeout 5s;

        proxy_timeout 60s;
    }
}


# ============================================================
# HTTP
# ============================================================

http {

    include /etc/nginx/mime.types;

    default_type application/octet-stream;

    sendfile on;

    keepalive_timeout 65;


    # ========================================================
    # PRODUCTION
    # ========================================================

    server {

        listen 80;

        server_name fuelman.in www.fuelman.in;


        # Certbot challenge
        location /.well-known/acme-challenge/ {

            proxy_pass http://host.docker.internal:81;

            proxy_set_header Host $host;

            proxy_set_header X-Real-IP $remote_addr;

            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

            proxy_set_header X-Forwarded-Proto http;
        }


        # Redirect everything else
        location / {

            return 301 https://$host$request_uri;
        }
    }


    # ========================================================
    # STAGING
    # ========================================================

    server {

        listen 80;

        server_name staging.fuelman.in;


        # Certbot challenge
        location /.well-known/acme-challenge/ {

            proxy_pass http://host.docker.internal:82;

            proxy_set_header Host $host;

            proxy_set_header X-Real-IP $remote_addr;

            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

            proxy_set_header X-Forwarded-Proto http;
        }


        # Redirect everything else
        location / {

            return 301 https://$host$request_uri;
        }
    }


    # ========================================================
    # UNKNOWN DOMAIN
    # ========================================================

    server {

        listen 80 default_server;

        server_name _;

        return 444;
    }
}